<form [formGroup]="testForm" (ngSubmit)="onSubmit(testForm)" #fd="ngForm" [ngxFvControl]="fd"> 
    <ngx-fv-validate [control]="testForm.controls.name">
        <mat-form-field>
            <mat-label #ngxFvName>
                Name
            </mat-label>
            <input type="text" matInput formControlName="name">
            <mat-error>
                <ngx-fv-error></ngx-fv-error>
            </mat-error>                  
        </mat-form-field>
    </ngx-fv-validate>
     <div>
        <button class="button" type="submit">Save</button>
    </div>
</form>

<!-- <form [formGroup]="testForm" (ngSubmit)="onSubmit(testForm)" #fd="ngForm" [ngxFvControl]="fd"> 
    <ngx-fv-validate [control]="testForm.controls.name">
        <label #ngxFvName>
            Name
        </label>
        <input type="text" formControlName="name">
        <ngx-fv-error></ngx-fv-error>
    </ngx-fv-validate>
    <div>
        <button class="button" type="submit">Save</button>
    </div>
</form> -->